/* basic.css */
:root {
    --primary-color: #1A237E;
    --secondary-color: #0066cc;
    --comment-color:#f3f2ff;
    --text-color: #333;
    --background-color: #fff;
    --font-family: Arial, sans-serif;
    --font-size: 16px;
}

body {
    font-family: var(--font-family);
    color: var(--text-color);
    background-color: var(--background-color);
    line-height: 1.6;
}

header {
    background-color: var(--primary-color);
    color: #fff;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    width: 100%;
    background: inherit;
    position:fixed;
    z-index: 1000;
    border-bottom: 5px solid transparent; /* Define el tamaño del borde */
    border-image: url('/imagenes/border-footer.jpg') 30 round; /* Ruta de la imagen, ancho de las secciones y modo de ajuste */
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

.hero {
    background-image: url(../imagenes/header-home.jpg);
    background-size: cover;
    background-position: center;
    background-position-y: 10dvh;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-attachment: fixed; /* Añade el efecto parallax */
    position: relative; /* Para que el pseudo-elemento se posicione correctamente */
    align-items: center;
}

.hero::before {
    content: ''; /* Necesario para mostrar el pseudo-elemento */
    position: absolute; /* Posiciona el overlay sobre el contenido */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Negro con 50% de opacidad */
    transition: background-color 0.5s ease; /* Transición suave del color de fondo */
    z-index: 1; /* Asegura que el overlay esté encima de la imagen */
}

.hero.dark-overlay::before {
    background-color: rgba(0, 0, 0, 0.93); /* Negro completamente opaco */
    backdrop-filter: blur(8px); /* Aplica desenfoque al fondo */
}

.hero-content {
    position: relative; /* Asegura que el contenido esté encima del overlay */
    z-index: 2; /* Asegura que el contenido esté encima del overlay */
    color: #fff; /* Color del texto para contraste */
    padding: 1em;
    margin-top: 5em;
}

.hero-content h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.hero-content p {
    font-size: 1.25rem;
    margin-bottom: 2rem;
}

.scroll-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.scroll-indicator img {
    width: 70px;
    animation: bounce 5s infinite;
}

main {
    padding: 2rem;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

h2 {
    font-size: 2rem;
}

.h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
.ch1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}
/* Estilos generales del footer */
/* Estilos generales del footer */
footer {
    background-color: #1A237E; /* Color de fondo */
    color: #ffffff; /* Color de texto */
    padding: 20px 0;
    border-top: 5px solid transparent; /* Define el tamaño del borde */
    border-image: url('/imagenes/border-footer.jpg') 30 round; /* Ruta de la imagen, ancho de las secciones y modo de ajuste */
}

.footer-container {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Permite que las secciones se reorganicen en pantallas más pequeñas */
}

.footer-section {
    flex: 1;
    min-width: 200px; /* Asegura que las secciones no se reduzcan demasiado */
    margin: 10px 20px;
}

.footer-section h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    border-bottom: 2px solid #ffffff; /* Línea debajo del título */
    padding-bottom: 5px;
}

.footer-section p {
    font-size: 1rem;
    margin: 5px 0;
}

.footer-section a {
    color: #FFC107; /* Color de los enlaces */
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}



