/* responsive.css */
@media (min-width: 1024px) {
    .content-section {
        flex-direction: row;
        gap: 2rem;
    }

    .content-section.inverse {
        flex-direction: row-reverse;
    }

    .section-image,
    .section-content {
        width: 50%;
    }
    
}

@media (min-width: 1024px) {
    main {
        max-width: 1024px;
        margin: 0 auto;
    }

    .hero {
        height: 100dvh; /* Adjust for 1024px layout */
    }
}

@media (max-width: 1024px) {
    main {
        padding: 0;
    }

    .h1 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .footer-links {
        flex-direction: column; /* Cambia a columna en vista móvil */
        align-items: center;    /* Centra los elementos */
    }

    .footer-links a {
        display: block;         /* Cada enlace en una línea */
        margin: 0.5rem 0;       /* Espacio entre los enlaces */
    }
}